# INSTRUCTIONS

Read the instructions metioned below carefully before attempting the assignment:

    - This assignment has 16 questions and all the questions are mandatory.
    - Read the desciption of the dataset mentioned below carefully.
    - Each question has been commented and written in an independent cell.
    - Write your code in the cell just below the question (Refer Ques-1 - It has been solved for you to understand)
    - Try to submit the assignment within the deadline.
    - Plagiarism will have a huge penality.
    - After completing the assignment upload this notebook to your github and submit the assignment on Google Classroom.
    
    
##### Download the Dataset file(.csv) from here:

https://drive.google.com/file/d/17yZ1NSSsRrDF7qfGOJyGHRDDiBce7EQN/view?usp=sharing


# The Adult Income dataset

### Description

Title of dataset: adult.csv

Sources:

    * Original owners of database - US Census Bureau
    * Donor of database - Ronny Kohavi and Barry Becker
    * Date received - 05/19/96 
    
Number of Instances

    * 48842 instances, mix of continuous and discrete (train=32561, test=16281)
    * 45222 if instances with unknown values are removed (train=30162, test=15060)
    * Split into train-test using MLC++ GenCVFiles (2/3, 1/3 random).

Number of Attributes/Fearures/Columns

    * 6 continuous, 8 nominal attributes. 

Attribute Information/Fearures/Columns

    * age: continuous.
    * workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
    * fnlwgt: continuous.
    * education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
    * education-num: continuous.
    * marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
    * occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
    * relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
    * race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
    * sex: Female, Male.
    * capital-gain: continuous.
    * capital-loss: continuous.
    * hours-per-week: continuous.
    * native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
    * income: >50K, <=50K 
    
Missing Values:
     
     7% rows have missing values.

In [1]:
# Q1 - Import the required Library (Sample question and answer)

import numpy as pd
import pandas as pd

In [18]:
# Q2 - Read the csv file to the pandas dataframe
import numpy as pd
import pandas as pd
df = pd.read_csv('adult.csv')
print(df)

       age         workclass  fnlwgt     education  educational-num  \
0       25           Private  226802          11th                7
1       38           Private   89814       HS-grad                9
2       28         Local-gov  336951    Assoc-acdm               12
3       44           Private  160323  Some-college               10
4       18                 ?  103497  Some-college               10
5       34           Private  198693          10th                6
6       29                 ?  227026       HS-grad                9
7       63  Self-emp-not-inc  104626   Prof-school               15
8       24           Private  369667  Some-college               10
9       55           Private  104996       7th-8th                4
10      65           Private  184454       HS-grad                9
11      36       Federal-gov  212465     Bachelors               13
12      26           Private   82091       HS-grad                9
13      58                 ?  299831       HS-grad                9
14      48           Private  279724       HS-grad                9
15      43           Private  346189       Masters               14
16      20         State-gov  444554  Some-college               10
17      43           Private  128354       HS-grad                9
18      37           Private   60548       HS-grad                9
19      40           Private   85019     Doctorate               16
20      34           Private  107914     Bachelors               13
21      34           Private  238588  Some-college               10
22      72                 ?  132015       7th-8th                4
23      25           Private  220931     Bachelors               13
24      25           Private  205947     Bachelors               13
25      45  Self-emp-not-inc  432824       HS-grad                9
26      22           Private  236427       HS-grad                9
27      23           Private  134446       HS-grad                9
28      54           Private   99516       HS-grad                9
29      32  Self-emp-not-inc  109282  Some-college               10
...    ...               ...     ...           ...              ...
48812   30                 ?   33811     Bachelors               13
48813   34           Private  204461     Doctorate               16
48814   54           Private  337992     Bachelors               13
48815   37           Private  179137  Some-college               10
48816   22           Private  325033          12th                8
48817   34           Private  160216     Bachelors               13
48818   30           Private  345898       HS-grad                9
48819   38           Private  139180     Bachelors               13
48820   71                 ?  287372     Doctorate               16
48821   45         State-gov  252208       HS-grad                9
48822   41                 ?  202822       HS-grad                9
48823   72                 ?  129912       HS-grad                9
48824   45         Local-gov  119199    Assoc-acdm               12
48825   31           Private  199655       Masters               14
48826   39         Local-gov  111499    Assoc-acdm               12
48827   37           Private  198216    Assoc-acdm               12
48828   43           Private  260761       HS-grad                9
48829   65  Self-emp-not-inc   99359   Prof-school               15
48830   43         State-gov  255835  Some-college               10
48831   43  Self-emp-not-inc   27242  Some-college               10
48832   32           Private   34066          10th                6
48833   43           Private   84661     Assoc-voc               11
48834   32           Private  116138       Masters               14
48835   53           Private  321865       Masters               14
48836   22           Private  310152  Some-college               10
48837   27           Private  257302    Assoc-acdm               12
48838   40           Private  154374       HS-grad                9
48839   58           Private  151910       HS-grad                9
48840   22           Private  201490       HS-grad                9
48841   52      Self-emp-inc  287927       HS-grad                9

           marital-status         occupation    relationship  \
0           Never-married  Machine-op-inspct       Own-child
1      Married-civ-spouse    Farming-fishing         Husband
2      Married-civ-spouse    Protective-serv         Husband
3      Married-civ-spouse  Machine-op-inspct         Husband
4           Never-married                  ?       Own-child
5           Never-married      Other-service   Not-in-family
6           Never-married                  ?       Unmarried
7      Married-civ-spouse     Prof-specialty         Husband
8           Never-married      Other-service       Unmarried
9      Married-civ-spouse       Craft-repair         Husband
10     Married-civ-spouse  Machine-op-inspct         Husband
11     Married-civ-spouse       Adm-clerical         Husband
12          Never-married       Adm-clerical   Not-in-family
13     Married-civ-spouse                  ?         Husband
14     Married-civ-spouse  Machine-op-inspct         Husband
15     Married-civ-spouse    Exec-managerial         Husband
16          Never-married      Other-service       Own-child
17     Married-civ-spouse       Adm-clerical            Wife
18                Widowed  Machine-op-inspct       Unmarried
19     Married-civ-spouse     Prof-specialty         Husband
20     Married-civ-spouse       Tech-support         Husband
21          Never-married      Other-service       Own-child
22               Divorced                  ?   Not-in-family
23          Never-married     Prof-specialty   Not-in-family
24     Married-civ-spouse     Prof-specialty         Husband
25     Married-civ-spouse       Craft-repair         Husband
26          Never-married       Adm-clerical       Own-child
27              Separated  Machine-op-inspct       Unmarried
28     Married-civ-spouse       Craft-repair         Husband
29          Never-married     Prof-specialty   Not-in-family
...                   ...                ...             ...
48812       Never-married                  ?   Not-in-family
48813  Married-civ-spouse     Prof-specialty         Husband
48814  Married-civ-spouse    Exec-managerial         Husband
48815            Divorced       Adm-clerical       Unmarried
48816       Never-married    Protective-serv       Own-child
48817       Never-married    Exec-managerial   Not-in-family
48818       Never-married       Craft-repair   Not-in-family
48819            Divorced     Prof-specialty       Unmarried
48820  Married-civ-spouse                  ?         Husband
48821           Separated       Adm-clerical       Own-child
48822           Separated                  ?   Not-in-family
48823  Married-civ-spouse                  ?         Husband
48824            Divorced     Prof-specialty       Unmarried
48825            Divorced      Other-service   Not-in-family
48826  Married-civ-spouse       Adm-clerical            Wife
48827            Divorced       Tech-support   Not-in-family
48828  Married-civ-spouse  Machine-op-inspct         Husband
48829       Never-married     Prof-specialty   Not-in-family
48830            Divorced       Adm-clerical  Other-relative
48831  Married-civ-spouse       Craft-repair         Husband
48832  Married-civ-spouse  Handlers-cleaners         Husband
48833  Married-civ-spouse              Sales         Husband
48834       Never-married       Tech-support   Not-in-family
48835  Married-civ-spouse    Exec-managerial         Husband
48836       Never-married    Protective-serv   Not-in-family
48837  Married-civ-spouse       Tech-support            Wife
48838  Married-civ-spouse  Machine-op-inspct         Husband
48839             Widowed       Adm-clerical       Unmarried
48840       Never-married       Adm-clerical       Own-child
48841  Married-civ-spouse    Exec-managerial            Wife

                     race  gender  capital-gain  capital-loss  hours-per-week  \
0                   Black    Male             0             0              40
1                   White    Male             0             0              50
2                   White    Male             0             0              40
3                   Black    Male          7688             0              40
4                   White  Female             0             0              30
5                   White    Male             0             0              30
6                   Black    Male             0             0              40
7                   White    Male          3103             0              32
8                   White  Female             0             0              40
9                   White    Male             0             0              10
10                  White    Male          6418             0              40
11                  White    Male             0             0              40
12                  White  Female             0             0              39
13                  White    Male             0             0              35
14                  White    Male          3103             0              48
15                  White    Male             0             0              50
16                  White    Male             0             0              25
17                  White  Female             0             0              30
18                  White  Female             0             0              20
19     Asian-Pac-Islander    Male             0             0              45
20                  White    Male             0             0              47
21                  Black  Female             0             0              35
22                  White  Female             0             0               6
23                  White    Male             0             0              43
24                  White    Male             0             0              40
25                  White    Male          7298             0              90
26                  White    Male             0             0              20
27                  Black    Male             0             0              54
28                  White    Male             0             0              35
29                  White    Male             0             0              60
...                   ...     ...           ...           ...             ...
48812  Asian-Pac-Islander  Female             0             0              99
48813               White    Male             0             0              60
48814  Asian-Pac-Islander    Male             0             0              50
48815               White  Female             0             0              39
48816               Black    Male             0             0              35
48817               White  Female             0             0              55
48818               Black    Male             0             0              46
48819               Black  Female         15020             0              45
48820               White    Male             0             0              10
48821               White  Female             0             0              40
48822               Black  Female             0             0              32
48823               White    Male             0             0              25
48824               White  Female             0             0              48
48825               Other  Female             0             0              30
48826               White  Female             0             0              20
48827               White  Female             0             0              40
48828               White    Male             0             0              40
48829               White    Male          1086             0              60
48830               White  Female             0             0              40
48831               White    Male             0             0              50
48832  Amer-Indian-Eskimo    Male             0             0              40
48833               White    Male             0             0              45
48834  Asian-Pac-Islander    Male             0             0              11
48835               White    Male             0             0              40
48836               White    Male             0             0              40
48837               White  Female             0             0              38
48838               White    Male             0             0              40
48839               White  Female             0             0              40
48840               White    Male             0             0              20
48841               White  Female         15024             0              40

      native-country income
0      United-States  <=50K
1      United-States  <=50K
2      United-States   >50K
3      United-States   >50K
4      United-States  <=50K
5      United-States  <=50K
6      United-States  <=50K
7      United-States   >50K
8      United-States  <=50K
9      United-States  <=50K
10     United-States   >50K
11     United-States  <=50K
12     United-States  <=50K
13     United-States  <=50K
14     United-States   >50K
15     United-States   >50K
16     United-States  <=50K
17     United-States  <=50K
18     United-States  <=50K
19                 ?   >50K
20     United-States   >50K
21     United-States  <=50K
22     United-States  <=50K
23              Peru  <=50K
24     United-States  <=50K
25     United-States   >50K
26     United-States  <=50K
27     United-States  <=50K
28     United-States  <=50K
29     United-States  <=50K
...              ...    ...
48812  United-States  <=50K
48813  United-States   >50K
48814          Japan   >50K
48815  United-States  <=50K
48816  United-States  <=50K
48817  United-States   >50K
48818  United-States  <=50K
48819  United-States   >50K
48820  United-States   >50K
48821  United-States  <=50K
48822  United-States  <=50K
48823  United-States  <=50K
48824  United-States  <=50K
48825  United-States  <=50K
48826  United-States   >50K
48827  United-States  <=50K
48828         Mexico  <=50K
48829  United-States  <=50K
48830  United-States  <=50K
48831  United-States  <=50K
48832  United-States  <=50K
48833  United-States  <=50K
48834         Taiwan  <=50K
48835  United-States   >50K
48836  United-States  <=50K
48837  United-States  <=50K
48838  United-States   >50K
48839  United-States  <=50K
48840  United-States  <=50K
48841  United-States   >50K

[48842 rows x 15 columns]

In [3]:
# Q3 - Display the top 5 rows of the dataframe
import numpy as pd
import pandas as pd
df = pd.read_csv('adult.csv')
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
# Q4 - Display the bottom 5 rows of the dataframe
import numpy as pd
import pandas as pd
df = pd.read_csv('adult.csv')
df.tail()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
# Q5 - How many columns and rows are there in the dataframe?
import numpy as pd
import pandas as pd
df = pd.read_csv('adult.csv')
print (df.shape)

(48842, 15)

In [6]:
# Q6 - Display a breif overview of all the columns data type and missing values?
import pandas as pd
df = pd.read_csv('adult.csv')
print(df.dtypes)
print(df.isnull())

age                 int64
workclass          object
fnlwgt              int64
education          object
educational-num     int64
marital-status     object
occupation         object
relationship       object
race               object
gender             object
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
income             object
dtype: object
         age  workclass  fnlwgt  education  educational-num  marital-status  \
0      False      False   False      False            False           False
1      False      False   False      False            False           False
2      False      False   False      False            False           False
3      False      False   False      False            False           False
4      False      False   False      False            False           False
5      False      False   False      False            False           False
6      False      False   False      False            False           False
7      False      False   False      False            False           False
8      False      False   False      False            False           False
9      False      False   False      False            False           False
10     False      False   False      False            False           False
11     False      False   False      False            False           False
12     False      False   False      False            False           False
13     False      False   False      False            False           False
14     False      False   False      False            False           False
15     False      False   False      False            False           False
16     False      False   False      False            False           False
17     False      False   False      False            False           False
18     False      False   False      False            False           False
19     False      False   False      False            False           False
20     False      False   False      False            False           False
21     False      False   False      False            False           False
22     False      False   False      False            False           False
23     False      False   False      False            False           False
24     False      False   False      False            False           False
25     False      False   False      False            False           False
26     False      False   False      False            False           False
27     False      False   False      False            False           False
28     False      False   False      False            False           False
29     False      False   False      False            False           False
...      ...        ...     ...        ...              ...             ...
48812  False      False   False      False            False           False
48813  False      False   False      False            False           False
48814  False      False   False      False            False           False
48815  False      False   False      False            False           False
48816  False      False   False      False            False           False
48817  False      False   False      False            False           False
48818  False      False   False      False            False           False
48819  False      False   False      False            False           False
48820  False      False   False      False            False           False
48821  False      False   False      False            False           False
48822  False      False   False      False            False           False
48823  False      False   False      False            False           False
48824  False      False   False      False            False           False
48825  False      False   False      False            False           False
48826  False      False   False      False            False           False
48827  False      False   False      False            False           False
48828  False      False   False      False            False           False
48829  False      False   False      False            False           False
48830  False      False   False      False            False           False
48831  False      False   False      False            False           False
48832  False      False   False      False            False           False
48833  False      False   False      False            False           False
48834  False      False   False      False            False           False
48835  False      False   False      False            False           False
48836  False      False   False      False            False           False
48837  False      False   False      False            False           False
48838  False      False   False      False            False           False
48839  False      False   False      False            False           False
48840  False      False   False      False            False           False
48841  False      False   False      False            False           False

       occupation  relationship   race  gender  capital-gain  capital-loss  \
0           False         False  False   False         False         False
1           False         False  False   False         False         False
2           False         False  False   False         False         False
3           False         False  False   False         False         False
4           False         False  False   False         False         False
5           False         False  False   False         False         False
6           False         False  False   False         False         False
7           False         False  False   False         False         False
8           False         False  False   False         False         False
9           False         False  False   False         False         False
10          False         False  False   False         False         False
11          False         False  False   False         False         False
12          False         False  False   False         False         False
13          False         False  False   False         False         False
14          False         False  False   False         False         False
15          False         False  False   False         False         False
16          False         False  False   False         False         False
17          False         False  False   False         False         False
18          False         False  False   False         False         False
19          False         False  False   False         False         False
20          False         False  False   False         False         False
21          False         False  False   False         False         False
22          False         False  False   False         False         False
23          False         False  False   False         False         False
24          False         False  False   False         False         False
25          False         False  False   False         False         False
26          False         False  False   False         False         False
27          False         False  False   False         False         False
28          False         False  False   False         False         False
29          False         False  False   False         False         False
...           ...           ...    ...     ...           ...           ...
48812       False         False  False   False         False         False
48813       False         False  False   False         False         False
48814       False         False  False   False         False         False
48815       False         False  False   False         False         False
48816       False         False  False   False         False         False
48817       False         False  False   False         False         False
48818       False         False  False   False         False         False
48819       False         False  False   False         False         False
48820       False         False  False   False         False         False
48821       False         False  False   False         False         False
48822       False         False  False   False         False         False
48823       False         False  False   False         False         False
48824       False         False  False   False         False         False
48825       False         False  False   False         False         False
48826       False         False  False   False         False         False
48827       False         False  False   False         False         False
48828       False         False  False   False         False         False
48829       False         False  False   False         False         False
48830       False         False  False   False         False         False
48831       False         False  False   False         False         False
48832       False         False  False   False         False         False
48833       False         False  False   False         False         False
48834       False         False  False   False         False         False
48835       False         False  False   False         False         False
48836       False         False  False   False         False         False
48837       False         False  False   False         False         False
48838       False         False  False   False         False         False
48839       False         False  False   False         False         False
48840       False         False  False   False         False         False
48841       False         False  False   False         False         False

       hours-per-week  native-country  income
0               False           False   False
1               False           False   False
2               False           False   False
3               False           False   False
4               False           False   False
5               False           False   False
6               False           False   False
7               False           False   False
8               False           False   False
9               False           False   False
10              False           False   False
11              False           False   False
12              False           False   False
13              False           False   False
14              False           False   False
15              False           False   False
16              False           False   False
17              False           False   False
18              False           False   False
19              False           False   False
20              False           False   False
21              False           False   False
22              False           False   False
23              False           False   False
24              False           False   False
25              False           False   False
26              False           False   False
27              False           False   False
28              False           False   False
29              False           False   False
...               ...             ...     ...
48812           False           False   False
48813           False           False   False
48814           False           False   False
48815           False           False   False
48816           False           False   False
48817           False           False   False
48818           False           False   False
48819           False           False   False
48820           False           False   False
48821           False           False   False
48822           False           False   False
48823           False           False   False
48824           False           False   False
48825           False           False   False
48826           False           False   False
48827           False           False   False
48828           False           False   False
48829           False           False   False
48830           False           False   False
48831           False           False   False
48832           False           False   False
48833           False           False   False
48834           False           False   False
48835           False           False   False
48836           False           False   False
48837           False           False   False
48838           False           False   False
48839           False           False   False
48840           False           False   False
48841           False           False   False

[48842 rows x 15 columns]

In [7]:
# Q7 - Display the descriptive statistical analysis on numerical columns of the dataframe?
import pandas as pd
df = pd.read_csv('adult.csv')
print(df.dtypes)
print(df.describe())

age                 int64
workclass          object
fnlwgt              int64
education          object
educational-num     int64
marital-status     object
occupation         object
relationship       object
race               object
gender             object
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
income             object
dtype: object
                age        fnlwgt  educational-num  capital-gain  \
count  48842.000000  4.884200e+04     48842.000000  48842.000000
mean      38.643585  1.896641e+05        10.078089   1079.067626
std       13.710510  1.056040e+05         2.570973   7452.019058
min       17.000000  1.228500e+04         1.000000      0.000000
25%       28.000000  1.175505e+05         9.000000      0.000000
50%       37.000000  1.781445e+05        10.000000      0.000000
75%       48.000000  2.376420e+05        12.000000      0.000000
max       90.000000  1.490400e+06        16.000000  99999.000000

       capital-loss  hours-per-week
count  48842.000000    48842.000000
mean      87.502314       40.422382
std      403.004552       12.391444
min        0.000000        1.000000
25%        0.000000       40.000000
50%        0.000000       40.000000
75%        0.000000       45.000000
max     4356.000000       99.000000

In [8]:
# Q8 - Display the value count on the 'income' column
import pandas as pd
df = pd.read_csv('adult.csv')
print(df.dtypes)
df[('income')].count()

age                 int64
workclass          object
fnlwgt              int64
education          object
educational-num     int64
marital-status     object
occupation         object
relationship       object
race               object
gender             object
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
income             object
dtype: object

48842

In [9]:
# Q9 - Display the percentage of working men and women in the dataframe?
import pandas as pd
df = pd.read_csv('adult.csv')
(df['gender'].value_counts()/df['gender'].count())*100.0

Male      66.848204
Female    33.151796
Name: gender, dtype: float64

In [17]:
# Q10 - Select hours-per-week from dataframe where gender is female

df['hours-per-week'][df['gender'] == 'Male']

0        40
1        50
2        40
3        40
5        30
6        40
7        32
9        10
10       40
11       40
13       35
14       48
15       50
16       25
19       45
20       47
23       43
24       40
25       90
26       20
27       54
28       35
29       60
30       38
32       50
33       40
35       40
36       40
37       50
38       40
         ..
48787    55
48788    40
48791    45
48793    40
48795    45
48796    40
48798    40
48799    40
48800    48
48802    40
48803    40
48804    55
48807    40
48808    40
48813    60
48814    50
48816    35
48818    46
48820    10
48823    25
48828    40
48829    60
48831    50
48832    40
48833    45
48834    11
48835    40
48836    40
48838    40
48840    20
Name: hours-per-week, Length: 32650, dtype: int64

In [16]:
# Q11 - Select hours-per-week from dataframe where gender is male

df['hours-per-week'][df['gender'] == 'Male']

0        40
1        50
2        40
3        40
5        30
6        40
7        32
9        10
10       40
11       40
13       35
14       48
15       50
16       25
19       45
20       47
23       43
24       40
25       90
26       20
27       54
28       35
29       60
30       38
32       50
33       40
35       40
36       40
37       50
38       40
         ..
48787    55
48788    40
48791    45
48793    40
48795    45
48796    40
48798    40
48799    40
48800    48
48802    40
48803    40
48804    55
48807    40
48808    40
48813    60
48814    50
48816    35
48818    46
48820    10
48823    25
48828    40
48829    60
48831    50
48832    40
48833    45
48834    11
48835    40
48836    40
48838    40
48840    20
Name: hours-per-week, Length: 32650, dtype: int64

In [33]:
# Q12.1 - Groupby on the gender column and display first()
import pandas as pd
import numpy as np
df_tips = pd.read_csv('adult.csv')
gender_df = df.groupby('gender')
gender_df.first()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,capital-gain,capital-loss,hours-per-week,native-country,income
gender,,,,,,,,,,,,,,
Female,18,?,103497,Some-college,10,Never-married,?,Own-child,White,0,0,30,United-States,<=50K
Male,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,0,0,40,United-States,<=50K

In [20]:
# Q12.2 - Display the basic statistical analysis of 'hours-per-week' from male and female point
MF_df = df.groupby('gender')
print(MF_df['hours-per-week'].mean())
print(MF_df['hours-per-week'].median())
print(MF_df['hours-per-week'].std())
print(MF_df['hours-per-week'].max())
print(MF_df['hours-per-week'].min())

gender
Female    36.400692
Male      42.416845
Name: hours-per-week, dtype: float64
gender
Female    40
Male      40
Name: hours-per-week, dtype: int64
gender
Female    11.948866
Male      12.120042
Name: hours-per-week, dtype: float64
gender
Female    99
Male      99
Name: hours-per-week, dtype: int64
gender
Female    1
Male      1
Name: hours-per-week, dtype: int64

In [32]:
# Q13.1 - Groupby on the race column and display first()
import pandas as pd
import numpy as np
df_tips = pd.read_csv('adult.csv')
race_df = df.groupby('gender')
race_df.first()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,capital-gain,capital-loss,hours-per-week,native-country,income
gender,,,,,,,,,,,,,,
Female,18,?,103497,Some-college,10,Never-married,?,Own-child,White,0,0,30,United-States,<=50K
Male,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,0,0,40,United-States,<=50K

In [24]:
# Q13.2 - Display the basic statistical analysis of 'hours-per-week' for different race
RACE_dfR = df.groupby('race')
print(RACE_dfR['hours-per-week'].mean())
print(RACE_dfR['hours-per-week'].median())
print(RACE_dfR['hours-per-week'].std())
print(RACE_dfR['hours-per-week'].max())
print(RACE_dfR['hours-per-week'].min())

race
Amer-Indian-Eskimo    40.272340
Asian-Pac-Islander    39.884793
Black                 38.597866
Other                 39.201970
White                 40.660170
Name: hours-per-week, dtype: float64
race
Amer-Indian-Eskimo    40
Asian-Pac-Islander    40
Black                 40
Other                 40
White                 40
Name: hours-per-week, dtype: int64
race
Amer-Indian-Eskimo    11.975022
Asian-Pac-Islander    12.481418
Black                 10.345612
Other                 10.751450
White                 12.598627
Name: hours-per-week, dtype: float64
race
Amer-Indian-Eskimo    96
Asian-Pac-Islander    99
Black                 99
Other                 98
White                 99
Name: hours-per-week, dtype: int64
race
Amer-Indian-Eskimo    3
Asian-Pac-Islander    1
Black                 1
Other                 5
White                 1
Name: hours-per-week, dtype: int64

In [14]:
# Q14 - Display the percentage distribution of gender vs income
# HINT -> Checkout pandas crosstab function
import pandas as pd
df = pd.read_csv('adult.csv')
pd.crosstab(df.gender, df.income, normalize= True)*100

income      <=50K       >50K
gender
Female  29.529913   3.621883
Male    46.541911  20.306294

In [15]:
# Q15 - Display the percentage distribution of marital-status vs income
# HINT -> Checkout pandas crosstab function
import pandas as pd
df = pd.read_csv('adult.csv')
pd.crosstab(df['marital-status'] , df.income, normalize= True)*100

income                     <=50K       >50K
marital-status
Divorced               12.206707   1.373818
Married-AF-spouse       0.047091   0.028664
Married-civ-spouse     25.377749  20.441423
Married-spouse-absent   1.167028   0.118750
Never-married          31.497482   1.500758
Separated               2.929855   0.202694
Widowed                 2.845911   0.262070

In [34]:
# Q16 - Display the percentage distribution of race vs income
# HINT -> Checkout pandas crosstab function
import pandas as pd
df = pd.read_csv('adult.csv')
pd.crosstab(df.race, df.income, normalize= True)*100

income                  <=50K       >50K
race
Amer-Indian-Eskimo   0.849679   0.112608
Asian-Pac-Islander   2.272634   0.837394
Black                8.433316   1.158839
Other                0.728881   0.102371
White               63.787314  21.716965